#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.vid {
  visibility: hidden;
  height: 0;
  width: 0;
}

.canvasCon {
  position: relative;
}

#sourceCanvas {
  visibility: hidden;
}
#targetCanvas {
  position: absolute;
  z-index: 2;
}